@font-face {
    font-family: A_Nefel_Sereke;
    src: url(/amcl_saudi_vat_invoice_print/static/src/fonts/A_Nefel_Sereke.ttf);
}
@font-face {
    font-family: Cairo;
    src: url(/amcl_saudi_vat_invoice_print/static/src/fonts/Cairo-Regular.ttf);
}
.watermark {
        position: absolute;
        opacity: 0.25;
        z-index: 1000;
        transform: rotate(300deg);
        -webkit-transform: rotate(300deg);
        width: 150%;
    }